html {
    background-color: #ffeecc;
}

body {
    background-color: #ffffff;
    min-height: 100%;
    width: 960px;
    margin: 0px;
    padding: 0;
    line-height: 1.6em;
    font-family: monospace;
}
/* home, search, register, log in,   */
#menu {
	clear: both;
	width: 960px;
	height: 45px;
}

#menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#menu ul li{
	display: inline-block;
}

#menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: black;
} 

/* footer */
#footer {
	clear: both;
	width: 940px;
    padding: 20px 0px 20px 0;
    position: relative;
	text-align: center;
	/* border-top: 1px solid #ffffff; */
	color: black;
    background-color: #ffffff;
}

#footer a{
	color: #000000;
	font-weight: normal;
}

